.navbar {
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
}

.navList {
    display: flex;
    gap: 2rem;
}

.navList li a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navList li a:hover {
    color: #ffd700;
}

.active {
    border-bottom: 2px solid #ffd700;
}
