.section {
    width: 90%;
    margin: auto;
    max-width: 900px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 260px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: var(--primary-color);
    margin-bottom: 5px;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.text {
    margin: 40px 10px 0px 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.card p {
    font-size: 0.6rem;
    margin-top: 10px;
}

.card img {
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
