.navbar {
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
}

.navList {
    display: flex;
}

.navList li a,
.logoutBtn {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rightMenu {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.navList li a:hover,
.logoutBtn:hover {
    color: #ffd700;
}
